
configuration {
  modi:                       "drun,run,filebrowser,window";
  show-icons:                 true;
  display-drun:               "APPS";
  display-run:                "RUN";
  display-filebrowser:        "FILES";
  display-window:             "WINDOW";
	drun-display-format:        "{name}";
	window-format:              "{w} · {c} · {t}";
  font:                       "JetBrains Mono 14";
}
